body{
    background-color: black;
    color: white;
}
header{
    background-image: url(kepek/pizza.jpg);
    height: 400px;
    margin-left: auto;
    margin-top: -1%;
  
    background-size: cover;
    color: white;
} 
#Piadinapizza{
    background-color: rgb(104, 100, 100);
    width: auto;
    height: 250px;
   
    text-align: center;
    
    

}
#szoveg1{
  float: right;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -5%;
 
  
  width: 30%;

  text-align: left;

  
}
h2{
  float: left;
  margin-left: 20%;
  margin-top: 2%;
 
 
 

  
}
.topnav {
    
    overflow: hidden;
  
    float: right;
    width: 300px;
    margin-top: -5%
   
   
   
  }

  .topnav a {
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  a{
    color: white;
  }
  



#MENU{
  margin: 0 auto;
  width: auto;
  height: 250px;
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;



}
#szovegMENU
{
  margin-top: 8%;
  margin-bottom: 8%;
  

}
h3{
  margin: 0 auto;
  text-align: center;
}
.gallery {
 
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 20px; 
  margin-left: 15% ;
  margin-right: 15%;
  margin-bottom: 2%;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  

}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
  margin: 0;


}

.gallery__item--2 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
  margin: 0;

 
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 9;
  margin: 0;

}
.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
  margin: 0;

}.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
  margin: 0;

}
footer
{
  text-align: center;
  color: darkgrey;
}











#nyitavtartas
{
  margin: auto;
  width: 300px;
  height: auto;
  margin-top: 2%;
  padding: 2%;
  

}
#Asztalfoglalás
{
  float: right;
  width: 250px;
  margin-top: -40%;
  margin-right: 2%;

  
  padding: 2%;
   

}
#special
{
  
background-color: rgb(104, 100, 100);;
margin-bottom: 2%;
}

#cim
{
  float: left; margin-left: 15%; text-align: right;

}

@media only screen and (max-width: 920px) 
{
  #Asztalfoglalás
  {
    float: none;
    margin: auto;

  }
  #cim
  {
    margin: 0;
    float: none;
    text-align: center;

  }

}
@media only screen and (max-width: 975px)
{
  #szoveg1{
    text-indent: 0%;  
  }
  


}


  
 









