header{
    background-image: url(kepek/pizza.jpg);
    height: 300px;
    margin: 0 auto;
    background-size: cover;
    color: white;
} 
.Piadinapizza{
    background-color: black;
    width: auto;
    height: 1200px;

}










