body{
    background-color: black;
    color: white;
}
header{
    background-image: url(kepek/pizza.jpg);
    height: 400px;
    margin-left: auto;
    margin-top: -1%;
  
    background-size: cover;
    color: white;
} 
#Piadinapizza{
    background-color: rgb(104, 100, 100);
    width: auto;
    height: 250px;
   
    text-align: center;
    
    

}
#szoveg1{
  float: right;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -5%;
  
  width: 30%;

  text-align: left;

  
}
h2{
  float: left;
  margin-left: 20%;
  margin-top: 2%;
 
 
 

  
}
.topnav {
    
    overflow: hidden;
   
   
  }

  .topnav a {
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float: right;

  }
  .active {
    color: white;}


#MENU{
  margin: 0 auto;
  width: auto;
  height: 250px;
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;

}
#MENUbox{
  color: white;
  padding: 20px 10px;
  
 

}
  
  
 









